<% include partials/header %>


<div class=container style="position:absolute;
							  
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /set to a negative number 1/2 of your height/
    margin-left: -15em; /set to a negative number 1/2 of your width/
    border: 1px solid #ccc;
    background-color: #f3f3f3;">
   <img src="">
  <button type="button" class="btn btn-success btn-lg btn-block" >Sign In</button>
  <br>
  <button type="button" class="btn btn-primary btn-lg btn-block">Sign Up</button>	
  </div>

<% include partials/footer %>
